@media (min-width: 300px) and (max-width: 3000px) {
  .headerNuKenzie {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f9fa;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    padding: 0 8vw;
  }

  .headerNuKenzie > button {
    width: 64px;
    height: 5vh;
    background: #e9ecef;
    border: 1.4px solid #e9ecef;
    border-radius: 8px;
    color: #5b6166;
    font-size: 14px;
  }
}
